
body{
  margin:0;
  padding:0px;
  background: #333;
  height: 100vh;
}

.wrapper{
    display: grid;
    grid-template-rows: 150px 50px 2fr;
}

.one{
    background-color: green;
}

/* .searcher{
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.searcher:focus{
  width: 70%;
} */
/* gallery css */
  .gallery-grid{
    display:grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15% ;
    width: 90%;
    margin:auto;
    margin-top: 30px;
    margin-bottom:30px;
    position:relative;
    box-sizing:border-box;
    grid-gap: 7px
  }
  .gallery{
    width:100%;
    position:relative;
    overflow:hidden;
    background: #333;
    -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  }
  .gallery::after{
    display:block;
    padding-bottom:75%;
    content:"";
  }
  .gallery img{
    position:absolute;
    top:50%;
    left:50%;
    margin-right: -50%;
    transform:translate(-50%, -50%);
    min-width: 100%;
    min-height:100%;
    zoom: .1;
     transition: .3s;
    filter: grayscale(40%);
    opacity:.8;
  }
  .gallery:hover img{
    transform:translate(-50%, -50%) scale(1.2);
    filter: grayscale(0%);
    opacity:1;
  }
  
  @media only screen and (max-width: 1024px)  {
    .gallery-grid{
      grid-template-columns: 25% 25% 25% 25%;
    }
  }
  @media only screen and (max-width: 820px)  {
    .gallery-grid{
      grid-template-columns: 33.33% 33.33% 33.33%;
      width:100%;
    }
  }
  @media only screen and (max-width: 570px)  {
    .gallery-grid{
      grid-template-columns: 50% 50%;
    }
  }
  @media only screen and (max-width: 350px)  {
    .gallery-grid{
      grid-template-columns: 100%;
    }
  }
  /* end of gallery css */

/* animation */
.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  